.container-team {
    text-align: center;
    width: 100%;
    position: relative;
    padding: 32px 0;
}

.container-team h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    border-bottom: 4px solid #57c278;
    display: inline-block;
    padding-bottom: 8px;
}

.cards {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
    flex: 200px;
    justify-content: center;
}

.input-color {
    position: absolute;
    top: 20px;
    right: 50px;
}
